In [1]:
import json
import pandas as pd
from tqdm import tqdm_notebook
import numpy as np

In [2]:
with open("/cold/coco/annotations/instances_train2014.json") as f:
    data = json.load(f)

In [3]:
data_dict ={}
data_dict["category_id"] = []
data_dict["ids"] = []
data_dict["image_id"] = []

for ann in data["annotations"]:
    data_dict["category_id"].append(ann["category_id"])
    data_dict["ids"].append(ann["id"])
    data_dict["image_id"].append(ann["image_id"])
    
data_df = pd.DataFrame.from_dict(data_dict)

In [4]:
data_df.nunique()

category_id        80
ids            604907
image_id        82081
dtype: int64

In [5]:
data_df["category_id"].value_counts()

1     185316
3      30785
62     27147
84     17315
44     16983
47     14513
67     11167
51     10064
10      9159
31      8778
28      7865
9       7590
16      7290
8       7050
52      6912
15      6751
20      6654
38      6560
27      6200
4       6021
64      5918
21      5686
46      5618
57      5539
49      5536
60      4977
2       4955
56      4927
35      4698
19      4666
       ...
5       3833
18      3774
24      3685
25      3596
88      3442
73      3415
43      3411
17      3301
7       3159
54      3089
65      2905
70      2873
40      2689
39      2400
79      2302
58      2023
76      1980
36      1960
82      1875
34      1862
74      1517
90      1377
13      1372
11      1316
78      1189
87      1073
23       903
14       833
80       156
89       135
Name: category_id, Length: 80, dtype: int64

In [6]:
categories_to_select = [36, 82, 34,74 ]

mask = data_df["category_id"].apply(lambda x: x in categories_to_select)
masked = data_df.loc[mask]
print(masked["category_id"].value_counts())
print(masked["category_id"].count())
image_ids_to_select = masked["image_id"].tolist()

36    1960
82    1875
34    1862
74    1517
Name: category_id, dtype: int64
7214

In [7]:
print(len(image_ids_to_select))
print(len(image_ids_to_select))
image_ids_to_select[:10]

7214
7214

[340065,
 229142,
 500982,
 288471,
 248732,
 579332,
 177658,
 119276,
 266912,
 369977]

In [8]:
image_files = ["COCO_train2014_{}.jpg".format(str(x).zfill(12)) for x in image_ids_to_select]
deduped = []
for f in image_files:
    if f not in deduped:
        deduped.append(f)
        
print(len(deduped))

5621

In [9]:
with open("sample_images_files.txt", "w") as w:
    for image_file in image_files:
        w.write(f"{image_file}\n")
        
        
with open("sample_images_labels.txt", "w") as w:
    w.write("image_id,category_id\n")
    for i, row in masked.iterrows():
        write_row = "{},{}\n".format(row["image_id"], row["category_id"])
        w.write(write_row)

In [10]:
"COCO_train2014_000000003713.jpg" in image_files

True

In [11]:
print("Hello")

Hello